
html, body {
	margin:0px;
	padding:0px;	
	height:100%;
	/*min-height:900px;*/
}

.left {
	float:left;
}

.right {
	float:right;
}

.clear {
	clear:both;
}

@font-face {
    font-family: 'pf_din_text_cond_promedium';
    src: url('../types/pfdintextcondpro-medium-webfont.eot');
    src: url('../types/pfdintextcondpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../types/pfdintextcondpro-medium-webfont.woff') format('woff'),
         url('../types/pfdintextcondpro-medium-webfont.ttf') format('truetype'),
         url('../types/pfdintextcondpro-medium-webfont.svg#pf_din_text_cond_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

.pf_din_text_cond_promedium {
	font-family:pf_din_text_cond_promedium;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../types/opensans-regular-webfont.eot');
    src: url('../types/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../types/opensans-regular-webfont.woff') format('woff'),
         url('../types/opensans-regular-webfont.ttf') format('truetype'),
         url('../types/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.open_sansregular {
	font-family: open_sansregular;
}


@font-face {
    font-family: 'open_sansitalic';
    src: url('../types/opensans-italic-webfont.eot');
    src: url('../types/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../types/opensans-italic-webfont.woff') format('woff'),
         url('../types/opensans-italic-webfont.ttf') format('truetype'),
         url('../types/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

.open_sansitalic {
	font-family: open_sansitalic;
}


@font-face {
    font-family: 'open_sansbold';
    src: url('../types/opensans-bold-webfont.eot');
    src: url('../types/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../types/opensans-bold-webfont.woff') format('woff'),
         url('../types/opensans-bold-webfont.ttf') format('truetype'),
         url('../types/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

.open_sansbold {
	font-family: open_sansbold;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../types/opensans-light-webfont.eot');
    src: url('../types/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../types/opensans-light-webfont.woff') format('woff'),
         url('../types/opensans-light-webfont.ttf') format('truetype'),
         url('../types/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

.open_sanslight {
	font-family: open_sanslight;
}

/*------------ topmenu --- begin -------*/

.topPartDiv {
	background-color:#f2f8fa;	
	font-family:pf_din_text_cond_promedium;
}

.topLogoAndMenuCont {
	background:url(../images/topLogoAndMenuBack.png) repeat-x left top;
	height:57px;
}

.topLogoAndMenu {
	width:957px;
	margin:0px auto;
	height:100%;
	overflow: hidden;	
}

.logoImg {
	margin-top: 11px;
}

.topMenu {
	height:100%;
	margin-left:254px;
	line-height:60px;		
}

.topMenu ul {
	margin:0px;	
}

.topMenu ul li {
	display:inline;	
}

.topMenuItem {
	color: #3e84a6;	
	font-size:14px;
	margin:0px 12px;
}

/*------------ topmenu --- end -------*/

/*------------ topSubMenu --- begin ---------*/

.topSubMenuAndDownloadCont {
	background:url(../images/topSubMenuBack.png) repeat-x left top;
	height:78px;
}

.topSubMenuAndDownload {
	width:957px;
	margin:0px auto;
	height:100%;	
	background:url(../images/topSubMenuShadow.png) no-repeat center top;
}

.topSubMenuItem {
	height:100%;
	width:140px;
	text-align:center;
	line-height:78px;
	color:white;
	text-shadow: 0px 1px 1px black;
	background: url(../images/topSubMenuItem.png) repeat-x left top;
	font-size:23px;
	font-family:pf_din_text_cond_promedium;
	border-left: 1px solid #345b6e;
	border-right: 1px solid #01294b;
}

.topSubMenuItemAct {
	background: url(../images/topSubMenuItemAct.png) repeat-x left top !important;
}

.topSubMenuItemNonAct:hover {
	background: url(../images/topSubMenuItem.png) repeat-x left bottom !important;
}

.topSubMenuItemNonAct:hover {
	/*background: url(../images/topSubMenuItemAct.png) repeat-x left bottom !important;*/
}

.topDownloadButton {
	height:52px;
	width:180px;
	background:url(../images/freeDownloadButtonDown.png) no-repeat left -60px;
	margin: 12px 40px 0px 0px;	
}

.topDownloadButton:hover {
	background:url(../images/freeDownloadButtonDown.png) no-repeat left top;
}

.topDownloadButtonAct {
	background:url(../images/freeDownloadButtonDown.png) no-repeat left top !important;	
}


/*------------ topSubMenu --- end ---------*/

/*------------ mainPartDiv --- begin ---------*/

.mainPartDiv {
	
}

.footerMover {
	height:88px;
	clear:both;
}

/*------------ mainPartDiv --- end ---------*/

/*------------ benefitsDiv --- begin ---------*/

.benefitsDiv {	
	margin:0px auto;
	width:957px;
	padding: 20px 0 20px 0;
	clear:both;
}

.benefitsDivUnit {
	height:auto;
	font-family:Tahoma, Geneva, sans-serif;
	padding:30px 0 30px 0;
}

.benefitsDivUnitImage {
	height:auto;
	width:197px;
	text-align:center;	
}

.benefitsDivUnitImageHeader {
	font-size:30px;	
	text-transform:uppercase;
	margin-bottom:17px;
	font-family:pf_din_text_cond_promedium;
}

.benefitsDivUnitNumbTextTxt {
	margin-left:7px;
	font-family: open_sansregular;	
}

.benefitsDivUnit2 {
	margin-left:30px;
	width:225px;
	margin-right:15px;
}

.benefitsDivUnit2 .benefitsDivUnitNumbTextTxt {
	width:200px;
}

.benefitsDivUnit3 {
	width:231px;
	margin-right:15px
}

.benefitsDivUnit3 .benefitsDivUnitNumbTextTxt {
	width:205px;
}

.benefitsDivUnit4 {
	width:226px;
}

.benefitsDivUnit4 .benefitsDivUnitNumbTextTxt {
	width:200px;
}

.benefitsDivUnitNumbHeader {
	font-size: 15px;
	text-transform: uppercase;
	margin-bottom: 18px;
	line-height:23px;
	font-family:pf_din_text_cond_promedium;
}

.benefitsDivUnitNumbText {
	font-size:13px;
}

.benefitsDivSeparator {
	height:1px;
	background-color:#dfe2e3;
}	

/*------------ benefitsDiv --- end ---------*/

/*------------ faqDiv --- begin ---------*/

.faqDiv {
	margin:0px auto;
	width:957px;
	padding: 20px 0 20px 0;
	clear:both;
}

.faqBigBlockDiv {
	padding:20px 0 20px 0;
}

.faqBigBlockTitle {
	font-size:30px;
	margin-bottom:7px;
	font-family:pf_din_text_cond_promedium;
}

.faqBigBlockSubtitle {
	font-size:16px;
	font-family: open_sansitalic;
}

.faqBigBlockDiv ul {
	padding:10px 0 0 0;
	margin:0 0 0 24px;
}

.faqBigBlockDiv ul li{
	list-style:decimal;
}

.faqQuestionAnswer {
	margin:5px 0;
}

.faqQuestion {
	color:#0066cc;
	text-decoration:underline;
	font-size:16px;
	font-family: open_sansregular;
}

.faqQuestion:hover {
	color:#36a134;
}

.faqQuestion span {
	cursor:pointer;	
}

.faqAnswer {
	overflow:hidden;
	height:0px;
	font-family: open_sansitalic;
}

.faqAnswerTop {
	height:17px;
	background:url(../images/bodyShadow.png) no-repeat center top;
}

.faqAnswerText {
	padding: 10px;
	font-style:italic;
	background-color:white;
	font-size:15px;
}

.faqAnswerBottom {
	height:17px;
	background:url(../images/bodyShadowReverse.png) no-repeat center top;	
	
}

.faqQuestionAboutMissing {
	
}

.faqQuestionAboutMissingTop {
	height:17px;
	background:url(../images/bodyShadow.png) no-repeat center top;
}

.faqQuestionAboutMissingText {
	background-color:white;
	text-align:center;
	padding: 30px 0 30px 0;
}

.faqQuestionAboutMissingBottom {
	height:17px;
	background:url(../images/bodyShadowReverse.png) no-repeat center top;
}

.faqQuestionAboutMissingTitle {
	font-size:30px;
	font-family: pf_din_text_cond_promedium;
}

.faqQuestionAboutMissingSubtitle {
	font-size:16px;
	font-family: open_sansitalic;
	width:400px;
	margin:10px auto;
}

.faqQuestionAboutMissingForm {
	margin: 30px auto;
	width: 620px;
	font-family: open_sansitalic;
}

.faqQuestionAboutMissingForm input,textarea {
	background-color:white;
	border:1px solid #c2cacc;
	padding:15px 20px;
	outline:none !important;
	font-family: open_sansitalic;
	color:#777777;
}

.faqQuestionAboutMissingForm input {
	width:258px;
	margin:7px 0px;	
	font-size:13px;
}

.NmEm {
	margin-bottom:10px;
}

.NmEmName {
	margin-right:20px;
}

.grayFormText {
	color:#777777;
	font-size:13px;
	padding-left: 10px;
}

.faqQuestionAboutMissingForm textarea {
	width:577px;
	height:140px;
	margin-top:10px;
}

.thankYouForSubmittimg {
	font-size:16px;
	font-style:italic;
	margin:20px 0 30px 0;
	text-align:center;
}

.faqQuestionSubmitButtonCont {
	margin-left: 50%;
}

.faqQuestionSubmitButton {
	height:72px;
	margin-left: -50%;
	cursor:pointer;
}

.faqQuestionSubmitButtonLeft {
	height:100%;
	width:5px;
	background:url(../images/faqQuestionSubmitButtonLeftAct.png) no-repeat left bottom;
}

.faqQuestionSubmitButtonCenter {
	height: 70%;
	text-transform: uppercase;
	background: url(../images/faqQuestionSubmitButtonCenterAct.png) repeat-x left bottom;
	padding: 0 30px;
	color: white;
	line-height: 40px;
	font-size: 20px;
	font-family: pf_din_text_cond_promedium;
	padding-top: 10px;
	border-radius: 5px;
}

.faqQuestionSubmitButtonRight {
	width:5px;
	height:100%;
	background:url(../images/faqQuestionSubmitButtonRightAct.png) no-repeat left bottom;
}

.faqQuestionSubmitButton:hover .faqQuestionSubmitButtonLeft {
	background:url(../images/faqQuestionSubmitButtonLeftAct.png) no-repeat left top;
}

.faqQuestionSubmitButton:hover .faqQuestionSubmitButtonCenter {
	background:url(../images/faqQuestionSubmitButtonCenterAct.png) repeat-x left top;
}

.faqQuestionSubmitButton:hover .faqQuestionSubmitButtonRight {
	background:url(../images/faqQuestionSubmitButtonRightAct.png) no-repeat left top;
}

/*
.faqQuestionSubmitButtonAct .faqQuestionSubmitButtonLeft {
	background:url(../images/faqQuestionSubmitButtonLefAct.png) no-repeat left top;
}

.faqQuestionSubmitButtonAct .faqQuestionSubmitButtonCenter {
	background:url(../images/faqQuestionSubmitButtonCenterAct.png) repeat-x left top;
}

.faqQuestionSubmitButtonAct .faqQuestionSubmitButtonRight {
	background:url(../images/faqQuestionSubmitButtonRightAct.png) no-repeat left top;
}
*/

/*------------ faqDiv --- end ---------*/

/*------------ pricingDiv --- begin ---------*/

.pricingDiv {
	height:1218px;
	background:url(../images/pricingBackground.png) repeat-x left top;
	margin-bottom:-17px;
}

.pricingDivTopPart {
	height:867px;
	background:url(../images/bodyShadow.png) no-repeat center bottom;	
}

.pricingTopMenuShadow {
	height:17px;
	background:url(../images/bodyShadowReverse.png) no-repeat center top;
}

.pricingDivTopPartTitle {
	font-size:44px;
	text-align: center;
	line-height: 115px;
	font-family: pf_din_text_cond_promedium;
}

.pricingDivTopPartText {
	width:680px;
	margin:0px auto;
	height:686px;	
}

.pricingDivTopPartTextLeft {
	width:50%;
	height:100%;
}

.pricingDivTopPartTextLeftLeft {
	width:17px;
	height:100%;
	background:url(../images/pricingDivTopPartTextLeftLeft.png) no-repeat left top;
}

.pricingDivTopPartTextLeftCenter {
	width:306px;
	height:100%;
	background:url(../images/pricingDivTopPartTextLeftCenter.png) repeat-x left top;
}

.freePremiumDiv {
	width:260px;
	margin:0px auto;
	height:660px;
	padding-top:17px;
}

.freePremiumDivTitle {
	font-size:30px;
	line-height:70px;
	text-align: center;
	font-family: pf_din_text_cond_promedium;
}

.freePremiumDivSep {
	height:1px;
	background-color:#bfcad3;
}

.freePremiumDivButtonCont {
	height:253px;
}

.freePremiumFreeButton {
	text-transform:uppercase;
	font-size:30px;
	color:white;
	text-shadow: 0px 1px 1px black;
	background:url(../images/freePremiumFreeButton.png) no-repeat left bottom;
	width: 253px;
	height: 72px;
	margin:20px auto;
	line-height:76px;
	text-align:center;
	cursor:pointer;
	font-family: pf_din_text_cond_promedium;
}

.freePremiumFreeButton:hover {
	background:url(../images/freePremiumFreeButton.png) no-repeat left top;
}

.freePremiumPremiumButton {
	text-transform:uppercase;
	font-size:30px;
	color:white;
	text-shadow: 0px 1px 1px black;
	background:url(../images/freePremiumPremiumButton.png) no-repeat left bottom;
	width: 253px;
	height: 72px;
	margin:20px auto;
	line-height:76px;
	text-align:center;
	cursor:pointer;
	font-family: pf_din_text_cond_promedium;
}

.freePremiumPremiumButton:hover {
	background:url(../images/freePremiumPremiumButton.png) no-repeat left top;
}

.freePremiumDivButtonText {
	text-align:center;
	font-size:24px;
	margin-top: 44px;
}
.freePremiumDivButtonText span {
	color:#54afdd;
}

.freePremiumDivButtonRadio {
	height:55px;
	margin-top: 17px;
	cursor:pointer;
}

.freePremiumDivButtonRadioLeft {
	height:14px;
	width:14px;
	background:url(../images/freePremiumDivButtonRadioLeft.png) no-repeat left top;
	margin-top:15px;
	cursor:pointer;
}

.freePremiumDivButtonRadioLeftAct {
	background:url(../images/freePremiumDivButtonRadioLeftAct.png) no-repeat left top !important;
}

.freePremiumDivButtonRadioRight {
	margin-left:10px;
	width:200px;
}

.freePremiumDivButtonRadioTop {
	font-size:24px;
}

.freePremiumDivButtonRadioTop span {
	color:#54afdd;
}

.freePremiumDivButtonRadioBottom {
	font-size:15px;
}

.freePremiumDivButtonRadioBottom span {
	color:#f73e17;
}

.freePremiumProperties {
	height: 175px;
	padding: 25px 0 0 10px;
	font-size:16px;
}

.freePremiumPropertiesUnit {
	height:30px;
	line-height:30px;
	font-family: open_sansregular;
}

.freePremiumPropertiesUnit img {
	margin-right:5px;
	position: relative;
	top: 2px;
}

.freePremiumBottomDiv {
	height:50px;
}

.freePremiumBottomDivLeft {
	height:100%;
	font-size:16px;
	line-height: 50px;
	margin-left: 10px;
	font-family: open_sansregular;
}

.freePremiumBottomDivRight {
	height:100%;
	font-size:24px;
	line-height: 50px;
	margin-right: 15px;
	font-style: italic;
	font-family: open_sansbold;
}

.pricingDivTopPartTextLeftRight {
	width:17px;
	height:100%;
	background:url(../images/pricingDivTopPartTextLeftRight.png) no-repeat left top;
}

.pricingDivTopPartTextRight {
	width:50%;
	height:100%;
}

.pricingDivTopPartTextRightLeft {
	width:17px;
	height:100%;
	background:url(../images/pricingDivTopPartTextRightLeft.png) no-repeat left top;
}

.pricingDivTopPartTextRightCenter {
	width:306px;
	height:100%;
	background:url(../images/pricingDivTopPartTextRightCenter.png) repeat-x left top;
}

.pricingDivTopPartTextRightRight {
	width:17px;
	height:100%;
	background:url(../images/pricingDivTopPartTextRightRight.png) no-repeat left top;
}

.pricingDivBottomPart {
	height:350px;
	width:957px;
	margin:0px auto;
}

.pricingDivBottomPartLeft {
	width:450px;
	height:100%;
	margin-right: 29px;
}

.pricingDivBottomPartRight {
	width:450px;
	height:100%;
}

.pricingDivBottomPartUnit {
	margin-top:47px;
}

.pricingDivBottomPartUnitTitle {
	border-left:4px solid #006699;
	padding-left:36px;
	font-size:24px;
	margin-bottom:10px;
	font-family: pf_din_text_cond_promedium;
}

.pricingDivBottomPartUnitText {
	padding-left:36px;
	font-size:12px;
	font-family: open_sansregular;
}

/*------------ pricingDiv --- end ---------*/

/*------------ downloadDiv --- begin ---------*/

.downloadDiv {
	height:100%;
	min-height:627px;
	/*background:url(../images/downloadDiv.png) repeat-x left bottom;*/	
	margin-bottom:-17px;
	position:relative;
	overflow:hidden;
}

.downloadDivTopShadow {
	width:100%;
	height:17px;
	position:absolute;
	top:0px;
	z-index:10;
	background:url(../images/bodyShadowReverse.png) no-repeat center top;
}

.downloadDivSelectorCont {
	position:absolute;
	width:246px;
	height:140px;
	left:50%;
	top:0px;
	z-index:5;
}

.downloadDivSelector {	
	background:url(../images/downloadDivSelector.png) no-repeat left bottom;
	width:100%;
	height:100%;
	margin-left:-50%;
	position:relative;
	top:-79px;
	font-family: open_sansregular;
	cursor:pointer;
}

.downloadDivSelectorLeft {
	text-align:center;
	margin-left:55px;
	width:110px;	
	padding-top:5px;	
}

.downloadDivSelectorLeftUnit {
	color:#a4a4a4;
	font-size:24px;
	cursor:pointer;
	margin:7px 0 0 0;
}

.downloadDivSelectorLeftUnit:hover {
	color:black;
}

.downloadDivSelectorLeftUnitAct {
	color:black !important;
}

.downloadDivSelectorRight {
	width:15px;
	height:10px;
	background:url(../images/downloadDivSelectorRightBot.png) no-repeat left top;
	margin: 103px 0 0 3px;
	cursor:pointer;
}

.downloadDivHeader {
	font-size:60px;
	text-align:center;
	line-height:150px;
	margin-top:70px;
	font-family: open_sansregular;
}

.downloadDivAdvantages {
	height:156px;
	width:960px;
	margin:0px auto;
}

.downloadDivAdvantagesUnit {
	font-family: open_sansregular;
	padding-top:30px;
	font-size:36px;
}

.downloadDivAdvantagesUnit div span {
	font-family: open_sansbold;
}

.downloadDivAdvantagesUnit img {
	float:left;	
	margin-right:20px;
	margin-top: 8px;
}

.downloadDivAdvantagesUnit1 {
	width:269px;	
}

.downloadDivAdvantagesUnit1 div {
	width:185px;
}

.downloadDivAdvantagesUnit2 div {
	width:185px;
}

.downloadDivAdvantagesUnit2 {
	padding-left:40px;	
}

.downloadDivAdvantagesUnit3 div {
	width:260px;
}

.downloadDivAdvantagesUnit3 {
	padding-left:37px;	
}

.downloadDivAdvantagesSep {
	width:2px;
	background:url(../images/downloadDivAdvantagesSep.png) no-repeat left top;
	height:100%;	
}

.downloadDivDownloadButton {
	height:150px;
	width:360px;
	margin:40px auto;
	cursor:pointer;	
	background:url(../images/downloadDivDownloadButton.png) no-repeat left -156px;
	font-family: open_sansregular;
}

.downloadDivDownloadButton:hover {
	background:url(../images/downloadDivDownloadButton.png) no-repeat left top;
}

.downloadDivDownloadButtonTop {
	font-size:15px;
	margin: 0 0 36px 137px;
	padding-top: 38px;
}

.downloadDivDownloadButtonTop div {
	color:white;
	font-size:30px;
	text-shadow:0px 1px 1px black;
	text-transform:uppercase;
	font-family: pf_din_text_cond_promedium;
}

.downloadDivDownloadButtonBottom {
	color:#888888;
	font-size:14px;
	margin-left:114px;
}

.downloadDivDownloadApp {
	height:350px;
	width:640px;
	margin:30px auto;
	background:url(../images/downloadDivDownloadApp.png) no-repeat center top;
}

.downloadDivDownloadAppAppStore {
	height:49px;
	width:140px;
	background:url(../images/downloadDivDownloadAppAppStore.png) no-repeat center top;
	margin-top: 135px;
	cursor:pointer;
}


.downloadDivDownloadAppGooglePlay {
	height:49px;
	width:140px;
	background:url(../images/downloadDivDownloadAppGooglePlay.png) no-repeat center top;
	margin-top: 135px;
	cursor:pointer;
}

/*------------ downloadDiv --- end ---------*/

/*------------ unblockBlockedDiv --- begin ---------*/

.unblockBlockedDiv {
	
}

.unblockBlockedDivTop {
	height:430px;
	background:url(../images/unblockBlockedDiv.png) repeat-x left top;	
}

.unblockBlockedDivTopTitle {
	color:white;
	font-size:44px;
	line-height:100px;
	text-align:center;
	font-family: pf_din_text_cond_promedium;
}

.unblockBlockedDivTopTitle h1{
	color:white;
	font-size:44px;
	line-height:100px;
	margin:0px !important;
}

.unblockBlockedDivTopText {
	color:white;
	font-size:16px;
	width:430px;
	margin:20px auto;
	font-family: open_sansregular;
}

.unblockBlockedDivTopText h2{
	color:white;
	font-size:16px !important;
	font-family: open_sansregular;
	display:inline;
	margin:0px !important; 
	font-weight:normal !important;
}

.unblockBlockedDivTopText div {
	margin-bottom:10px;	
}

.unblockBlockedDivTopText div img {
	margin:0 10px 0 0;	
	position:relative;
	top:3px;
}

.unblockBlockedDivTopButton {
	width:460px;
	padding-left:152px;
	margin:47px auto;	
	
}

.unblockBlockedDivTopButtonBut {
	width:250px;
	height:73px;
	cursor:pointer;
	overflow: hidden;
}

.unblockBlockedDivTopButtonButLeft {
	height:100%;
	width:7px;
	background:url(../images/unblockBlockedDivTopButtonButLeft.png) no-repeat left bottom;
}

.unblockBlockedDivTopButtonBut:hover .unblockBlockedDivTopButtonButLeft {
	background:url(../images/unblockBlockedDivTopButtonButLeft.png) no-repeat left top;
}

.unblockBlockedDivTopButtonButCenter {
	text-align:center;
	height:100%;
	padding:0px 20px;
	background:url(../images/unblockBlockedDivTopButtonButCenter.png) repeat-x left bottom;
	font-family:open_sansregular;
	border-radius: 8px;
}

.unblockBlockedDivTopButtonBut:hover .unblockBlockedDivTopButtonButCenter {
	background:url(../images/unblockBlockedDivTopButtonButCenter.png) repeat-x left top;
}

.unblockBlockedDivTopButtonButCenter span{
	color:white;
	font-size:29px;	
	text-shadow:0 1px 1px black;
	text-transform:uppercase;
	margin-top:18px;
	line-height:25px;
	display:block;
	font-family:pf_din_text_cond_promedium;
}

.unblockBlockedDivTopButtonButCenter {
	font-size:15px;	
}

.unblockBlockedDivTopButtonButRight {
	height:100%;
	width:7px;
	background:url(../images/unblockBlockedDivTopButtonButRight.png) no-repeat left bottom;
}

.unblockBlockedDivTopButtonBut:hover .unblockBlockedDivTopButtonButRight {
	background:url(../images/unblockBlockedDivTopButtonButRight.png) no-repeat left top;
}

.unblockBlockedDivTopButtonLeftBottom {
	color:white;
	font-size:12px;
	text-align:center;
	line-height:30px;
	font-family: open_sansregular;
}

.unblockBlockedDivTopButtonRightLeft {
	color:white;
	padding: 0 10px;
	line-height:73px;
	font-size:15px;
}

.unblockBlockedDivTopButtonRightRight {
	padding-top:18px;
}

.unblockBlockedDivTopButtonRightRight a{
	text-decoration:underline;
	text-transform:uppercase;
	color:#33ccff;
	font-size:17px;
	padding-right:15px;
	background:url(../images/unblockBlockedDivTopButtonRightRight.png) no-repeat right center;	
}

.unblockBlockedDivTopButtonRightRight {
	color:white;
	font-size:13px;
}

.unblockBlockedDivCenter {
	background-color:white;
	padding:20px 0;
}

.unblockBlockedDivTextUnit {
	width:685px;
	margin:30px auto;
}

.unblockBlockedDivTextUnitTitle {
	margin:20px 0;
	border-left: 4px solid #006699;
	font-size:30px;
	padding-left: 15px;
	font-family:pf_din_text_cond_promedium;
}

.unblockBlockedDivTextUnitTitle h2 {
	font-size:30px;
	margin:0px;
	font-family:pf_din_text_cond_promedium;
	font-weight:normal;
}

.unblockBlockedDivTextUnitText {
	font-size:14px;
	padding-left: 22px;
	font-family: open_sansregular;
}

.unblockBlockedDivTextSep {
	height:17px;
	background:url(../images/bodyShadowReverse.png) no-repeat center top;
}

.unblockBlockedDivBottom {
	background-image:url(../images/unblockBlockedDivBottom.png);
	background-repeat: repeat-x;
	background-position: left top;	
	background-color:#ffffff;
	padding-bottom: 20px;
	margin-bottom: -17px;
}

.titleHrefsDownloadButton {
	width:900px;
	margin:0px auto;
	padding-bottom: 20px;	
}

.titleHrefsDownloadButtonTitle {
	text-align:center;
	padding: 20px 0;
	font-size:24px;	
	font-family:pf_din_text_cond_promedium;
}

.titleHrefsDownloadButtonBottom {
	padding: 10px 0 20px 60px;
}

.titleHrefsDownloadButtonLeftHref {
	margin-top:27px;
	padding-left:15px;	
	background:url(../images/LeftHref.png) no-repeat left center;
	cursor:pointer;
}

.titleHrefsDownloadButtonRightHref {
	margin-top:27px;	
	margin-left:-6px;
	padding-right:15px;
	background:url(../images/RightHref.png) no-repeat right center;
	cursor:pointer;
}

.titleHrefsDownloadButtonLeftHref a{
	font-size:14px;
	text-decoration:underline;
	color:#3e8bd8;
	text-transform:uppercase;
	font-family:pf_din_text_cond_promedium;
}

.titleHrefsDownloadButtonRightHref a{
	font-size:14px;
	text-decoration:underline;
	color:#3e8bd8;
	text-transform:uppercase;
	font-family:pf_din_text_cond_promedium;
}

.titleHrefsDownloadButtonRightHref {
	
}


/*------------ unblockBlockedDiv --- end ---------*/

/*------------ indexDiv --- begin ---------*/

.indexDiv {
	font-family:Tahoma, Geneva, sans-serif;
}

.indexDivShadow {
	height:17px;
	background:url(../images/bodyShadowReverse.png) no-repeat center top;
}

.indexDiv1 {
	height:410px;
	background:url(../images/indexDiv1.png) repeat-x left top;	
}

.indexDiv1IllAndText {
	padding:10px 0;
	width:960px;
	margin:0px auto;	
}

.indexDiv1Ill {
	width:480px;
	height:364px;
	background:url(../images/indexIllustrationOff.png) no-repeat left top;
	position:relative;
	margin-right: 20px;
}

.illustrationInf {
	height:13px;
	width:13px;
	cursor:pointer;
	position:absolute;
}

.illustrationInfToolTip {
	position:absolute;
	display:none;
	bottom:17px; 
	left:-12px;
}

.illustrationInfToolTipTop {	
	padding:8px;	
	-moz-border-radius: 6px; /* Firefox */
	-webkit-border-radius: 6px; /* Safari, Chrome */
	-khtml-border-radius: 6px; /* KHTML */
	border-radius: 6px; /* CSS3 */
	background-color:#2d88bc;
	color:white;
	font-size:12px;	
}

.illustrationInfToolTipTop span {
	font-weight:bold;
	display:block;	
}

.illustrationInfToolTipBottom {
	height:15px;
	background:url(../images/illustrationInfToolTipBottom.png) no-repeat 10px top;	
}

.indexDiv1IllOnOffCont {
	width:180px;
	position:absolute;
	right:0px;
	bottom:25px;	
}

.indexDiv1IllOnOffCont span {
	font-size:14px;
	color:#89929a;
	line-height:28px;		
}

.indexDiv1IllOnOff {
	height:28px;
	width:67px;
	cursor:pointer;
}

.indexDiv1IllOff {	
	background:url(../images/indexDiv1IllOff.png) no-repeat 3px top;
}

.indexDiv1IllOn {
	background:url(../images/indexDiv1IllOn.png) no-repeat left top;
}

.indexDiv1Text {
	width:460px;	
}

.indexDiv1TextTitle {
	font-size: 44px;
	color: white;
	line-height: 45px;
}

.indexDiv1TextAdvantages {
	margin:20px 0 45px 0;	
}

.indexDiv1TextAdvantagesUnit {
	color:white;
	font-size:16px;	
	margin-bottom: 8px;
}

.indexDiv1TextAdvantagesUnit img {
	position:relative;
	top:3px;	
}

.indexDiv2 {
	height:108px;
	background:url(../images/indexDiv2.png) repeat-x left top;
}

.indexDiv2Center {
	width:957px;
	margin:0px auto;
	height:100%;	
	font-family:pf_din_text_cond_promedium !important;
}

.indexDiv2First {
	color:#66cbfe;	
	width:195px;
	font-size:21px;
	padding-top:26px;
	margin-right: 12px;
}

.indexDiv2Sep {
	width:27px;
	height:100%;
	background:url(../images/indexDiv2Sep.png) no-repeat left top;	
	margin: 0px 23px 0px 0;
}

.indexDiv2Unit {
	max-width: 210px;
	color:white;
	font-size:21px;
	padding-top:15px;
}

.indexDiv2Unit div {
	max-width: 127px;
	margin: 11px 0 0 21px;
}

.indexDiv3 {
	height:210px;
	background:url(../images/indexDiv3.png) repeat-x left top;
	position:relative;
}

.indexDiv3Center {
	width:957px;
	margin:0px auto;
}

.indexDiv3Left {
	width:600px;
	height:100%;
}

.indexDiv3Left .unblockBlockedDivTextUnit {
	width:600px !important;
}

.indexDiv3Right {
	height:100%;
	margin-left: 20px;
}

.countOfUsers {
	height:93px;	
	margin: 55px 0px 0 8px;
	font-family:pf_din_text_cond_promedium;
}

.countOfUsersLeft {
	width:9px;
	height:100%;
	background:url(../images/countOfUsersLeft.png) no-repeat left top;
}

.countOfUsersCent {
	height:100%;
	background:url(../images/countOfUsersCent.png) repeat-x left top;
	padding:0 5px;
}

.countOfUsersCount {
	font-size: 60px;
	color: #15678f;
	margin: 13px 15px 0 0;
}

.countOfUsersText {
	font-size:16px;
	color:#15678f;
	width:118px;
	margin-top: 17px;
}

.countOfUsersRight {
	width:9px;
	height:100%;
	background:url(../images/countOfUsersRight.png) no-repeat left top;
}

.indexDiv4 {
	height:690px;
	background-color:#f2f8fa;
	background:url(../images/indexDiv4.png);
}

.indexDiv4Center {
	width:900px;
	margin:0px auto;
}

.indexDiv4Center .benefitsDivUnit2 {
	margin-left: 50px;
	width: 310px;
	margin-right: 20px;
}

.indexDiv4Center .benefitsDivUnit3 {
	width: 312px;
	margin-right:0px !important;
}

.indexDiv4Center .benefitsDivUnitNumbTextTxt {
	width: 289px;
	margin-bottom: 15px;
}

.indexDiv4Shadow {
	background:url(../images/indexDiv4Shadow.png) no-repeat center top;
	height:10px;
}

.indexDiv5 {
	padding-top: 10px;
	
	background:url(../images/indexDiv5.png) repeat-x left top;
}

.indexDiv5People {
	width:957px;
	margin:15px auto;		
}



.indexDiv5PeopleShadow {
	position:absolute;
	bottom:0px;
}

.indexDiv5PeopleLeft {
	width:460px;
	margin-right:20px;
}

.indexDiv5PeopleRight {
	width:460px;
}

.indexDiv5PeopleUnit {
	height: 135px;
	margin: 15px 0 20px 0;
}

.indexDiv5PeopleUnitImg {
	margin-right:15px;
}

.indexDiv5PeopleUnitRight {
	width:380px;
}

.indexDiv5PeopleName {
	font-size:14px;
	font-family: open_sansbold;
}

.indexDiv5PeopleCity {
	font-size:13px;
	font-weight:bold;
	font-family: open_sansregular;	
}

.indexDiv5PeopleComment {
	font-size:13px;
	color:#666666;
	margin-top: 10px;
	font-family: open_sansitalic;
}

.indexDiv6 {
	padding-top: 40px;
	height: 870px;
	background-color:white;
}

.indexDiv6Center {
	width:957px;
	margin:0px auto;	
}

.indexDiv6Left {
	width: 520px;
	margin-right:50px;
	font-size:15px;
	color:#696969;
}

.companiesUnits {
	margin-right:15px;
	margin-bottom: 15px;	
}

#indexDiv6Windows {
	margin-top:3px;
	width:149px;
	height:33px;
	background:url(../images/indexDiv6Windows.png) no-repeat left top;
}


#indexDiv6Windows:hover {
	background:url(../images/indexDiv6Windows.png) no-repeat left -40px;
}

#indexDiv6Apple {
	margin-top:-1px;
	height:37px;
	width:33px;
	background:url(../images/indexDiv6Apple.png) no-repeat left top;	
}

#indexDiv6Apple:hover {
	background:url(../images/indexDiv6AppleColor.png) no-repeat 1px top;	
}

#indexDiv6Linux {
	margin-top:1px;
	height:38px;
	width:89px;
	background:url(../images/indexDiv6Linux.png) no-repeat left top;	 
}

#indexDiv6Linux:hover {
	background:url(../images/indexDiv6LinuxColor.png) no-repeat left top;	 
}

#indexDiv6IPhone {
	margin-top:5px;
	width:72px;
	height:22px;
	background:url(../images/indexDiv6IPhone.png) no-repeat left top;	 
}

#indexDiv6IPhone:hover {
	background:url(../images/indexDiv6IPhoneColor.png) no-repeat left top;	 
}

#indexDiv6IPad {
	margin-top:5px;
	width:55px;
	height:21px;
	background:url(../images/indexDiv6IPad.png) no-repeat left 1px;
}

#indexDiv6IPad:hover {
	background:url(../images/indexDiv6IPadColor.png) no-repeat 1px top;
}

#indexDiv6theCW {
	margin-top:3px;
	width:71px;
	height:29px;
	background:url(../images/indexDiv6theCW.png) no-repeat 1px top;
}

#indexDiv6theCW:hover {
	background:url(../images/indexDiv6theCWColor.png) no-repeat 1px top;
}

#indexDiv6ABC {
	margin-top:0px;
	width:34px;
	height:33px;
	background:url(../images/indexDiv6ABC.png) no-repeat 1px top;
}

#indexDiv6ABC:hover {
	background:url(../images/indexDiv6ABCColor.png) no-repeat 1px top;
}

#indexDiv6Veoh {
	margin-top:0px;
	width:89px;
	height:36px;
	background:url(../images/indexDiv6Veoh.png) no-repeat 1px top;
}

#indexDiv6Veoh:hover {
	background:url(../images/indexDiv6VeohColor.png) no-repeat 1px top;
}

#indexDiv6IPandora {
	margin-top:0px;
	width:35px;
	height:35px;
	background:url(../images/indexDiv6IPandora.png) no-repeat 1px top;
}

#indexDiv6IPandora:hover {
	background:url(../images/indexDiv6IPandoraColor.png) no-repeat 1px top;
}

#indexDiv6BBC {
	margin-top:8px;
	width:70px;
	height:20px;
	background:url(../images/indexDiv6BBC.png) no-repeat 1px top;
}

#indexDiv6BBC:hover {
	background:url(../images/indexDiv6BBCColor.png) no-repeat 1px top;
}

#indexDiv6iPlayer {
	margin-top:8px;
	width:85px;
	height:27px;
	background:url(../images/indexDiv6iPlayer.png) no-repeat 1px top;
}

#indexDiv6iPlayer:hover {
	background:url(../images/indexDiv6iPlayerColor.png) no-repeat left top;
}

#indexDiv6hulu {
	margin-top:0px;
	width:76px;
	height:25px;
	background:url(../images/indexDiv6hulu.png) no-repeat 1px top;
}

#indexDiv6hulu:hover {
	background:url(../images/indexDiv6huluColor.png) no-repeat 1px top;
}

#indexDiv6FOX {
	margin-top:0px;
	width:60px;
	height:26px;
	background:url(../images/indexDiv6FOX.png) no-repeat 1px top;
}

#indexDiv6FOX:hover {
	background:url(../images/indexDiv6FOXColor.png) no-repeat 1px top;
}

#indexDiv6netflix {
	margin-top:0px;
	width:96px;
	height:29px;
	background:url(../images/indexDiv6netflix.png) no-repeat 1px 1px;
}

#indexDiv6netflix:hover {
	background:url(../images/indexDiv6netflixColor.png) no-repeat 1px top;
}

#indexDiv6zatto {
	margin-top:-3px;
	width:117px;
	height:33px;
	background:url(../images/indexDiv6zatto.png) no-repeat 1px top;
}

#indexDiv6zatto:hover {
	background:url(../images/indexDiv6zattoColor.png) no-repeat 1px top;
}

#indexDiv6youtube {
	margin-top:0px;
	width:64px;
	height:26px;
	background:url(../images/indexDiv6youtube.png) no-repeat 1px 1px;
}

#indexDiv6youtube:hover {
	background:url(../images/indexDiv6youtubeColor.png) no-repeat 1px top;
}

#indexDiv6facebook {
	margin-top:2px;
	width:112px;
	height:23px;
	background:url(../images/indexDiv6facebook.png) no-repeat 1px top;
}

#indexDiv6facebook:hover {
	background:url(../images/indexDiv6facebookColor.png) no-repeat 1px top;
}

#indexDiv6twitter {
	margin-top:0px;
	width:38px;
	height:32px;
	background:url(../images/indexDiv6twitter.png) no-repeat 1px top;
}

#indexDiv6twitter:hover {
	background:url(../images/indexDiv6twitterColor.png) no-repeat 1px top;
}

#indexDiv6Igmail {
	margin-top:1px;
	width:71px;
	height:25px;
	background:url(../images/indexDiv6Igmail.png) no-repeat 1px -1px;	
}

#indexDiv6Igmail:hover {
	background:url(../images/indexDiv6IgmailColor.png) no-repeat left top;	
}

#indexDiv6myspace {
	margin-top:5px;
	width:105px;
	height:24px;
	background:url(../images/indexDiv6myspace.png) no-repeat 1px top;
}

#indexDiv6myspace:hover {
	background:url(../images/indexDiv6myspaceColor.png) no-repeat 2px 1px;
}

#indexDiv6square {
	margin-top:0px;
	width:30px;
	height:31px;
	background:url(../images/indexDiv6square.png) no-repeat 1px top;
}

#indexDiv6square:hover {
	background:url(../images/indexDiv6squareColor.png) no-repeat 1px top;
}

#indexDiv6digg {
	margin-top:0px;
	width:62px;
	height:34px;
	background:url(../images/indexDiv6digg.png) no-repeat 1px top;
}

#indexDiv6digg:hover {
	background:url(../images/indexDiv6diggColor.png) no-repeat 1px top;
}

#indexDiv6FeedBurner {
	margin-top:4px;
	width:141px;
	height:26px;
	background:url(../images/indexDiv6FeedBurner.png) no-repeat 1px top;
}

#indexDiv6FeedBurner:hover {
	background:url(../images/indexDiv6FeedBurnerColor.png) no-repeat 1px top;
}

#indexDiv6flickr {
	margin-top:6px;
	width:71px;
	height:21px;
	background:url(../images/indexDiv6flickr.png) no-repeat 1px top;
}

#indexDiv6flickr:hover {
	background:url(../images/indexDiv6flickrColor.png) no-repeat 1px top;
}

#indexDiv6linkedin {
	margin-top:7px;
	width:85px;
	height:22px;
	background:url(../images/indexDiv6linkedin.png) no-repeat 1px top;
}

#indexDiv6linkedin:hover {
	background:url(../images/indexDiv6linkedinColor.png) no-repeat 1px top;
}

#indexDiv6aim {
	margin-top:0px;
	width:87px;
	height:41px;
	background:url(../images/indexDiv6aim.png) no-repeat 1px top;
}

#indexDiv6aim:hover {
	background:url(../images/indexDiv6aimColor.png) no-repeat 1px top;
}

#indexDiv6skype {
	margin-top:4px;
	height:46px;
	width:106px;
	background:url(../images/indexDiv6skype.png) no-repeat 1px top;
}

#indexDiv6skype:hover {
	background:url(../images/indexDiv6skypeColor.png) no-repeat 1px top;
}

#indexDiv6msn {
	margin-top:-4px;
	width:99px;
	height:43px;
	background:url(../images/indexDiv6msn.png) no-repeat 1px top;
}

#indexDiv6msn:hover {
	background:url(../images/indexDiv6msnColor.png) no-repeat 1px -1px;
}

#indexDiv6icq {
	margin-top:5px;
	width:100px;
	height:42px;
	background:url(../images/indexDiv6icq.png) no-repeat 1px top;
}

#indexDiv6icq:hover {
	background:url(../images/indexDiv6icqColor.png) no-repeat 1px top;
}

.indexDiv6Right {
	width:380px;
	color:#696969;
	font-size:16px;
	font-family: open_sansitalic;
}

.indexDiv6Title {
	font-size:30px;
	color:black !important;
	font-family:pf_din_text_cond_promedium;
	font-style: normal;
}

.indexDiv6LeftText ul{
	list-style:decimal;
	padding-left: 26px;
	margin-top: 10px;
}

.indexDiv6LeftText ul li {
	margin-bottom: 10px;
	font-family: open_sansregular;
}

.indexDiv7 {
	height:340px;
	background-color:#f1f7f9;
	position:relative;
}

.indexDiv7Antivirs {
	width:550px;
	margin:0px auto;	
}

.antivirsUnit {
	margin:0px 10px;
}

.antivirsUnit a {
	color:black;
	text-decoration:none;
	font-size:12px;	
}

.antivirsUnit a span{
	color:red;
	text-decoration:none;	
}

/*------------ indexDiv --- end ---------*/

/*------------ contactsDiv --- begin ---------*/

.contactsDiv {
	background-color: transparent;
	width:957px;
	margin:0px auto;
	position:relative;
	font-family: open_sansitalic;
	margin-bottom: 50px;
}

.contactsDivTopShadow {
	height:11px;
	background:url(../images/contactsDivTopShadow.png) center top;
}

.contactsDivTitle {
	font-size: 30px;
	margin: 40px 0 10px 0;
	font-family: pf_din_text_cond_promedium;
}

.contactsDivText {
	font-size:16px;	
	font-style:italic;
	margin-bottom:40px;
}

.contactsDivFormText {
	padding-left:10px;
	font-size:13px;
	font-style:italic;
	color:#7f8080;
	margin-bottom:6px;	
	font-family: open_sansitalic;
}

.contactsDivForm input {
	width:278px;
	height:35px;
	border-radius:4px;
	border:1px solid #c2cacc;
	margin:0 17px 17px 0;
	color:#777777;
	font-size:13px;
	padding:0 10px 0 10px;
	outline:none;
	font-style:italic;
}

.contactsDivForm textarea {
	width:580px;
	border-radius:4px;
	border:1px solid #c2cacc;
	margin:0px;
	height:100px;
	color:#777777;
	font-size:13px;
	font-style:italic;
	margin-bottom: 50px;
}

.contactsDivForm .cusel { /* общий вид селекта включая стрелку справа */
	height: 43px;
	width:300px;
	background-color:white;
	border:1px solid #c2cacc;
	display: inline-block;
	position: relative;
	cursor: pointer;
	font-size: 14px;
	z-index: 1;
	border-radius:4px;
	outline:none;
	color:#777777;
	font-size:13px;
	font-style:italic;
}

.contactsDivForm .cusel .cuselText {
	padding-top:15px;
	font-style:italic;
	font-size:13px;
}

.contactsDivForm .cusel .cuselFrameRight {
	background:url(../images/cuselFrameRight.png) no-repeat 20px center;
}	

.contactsDivForm .cusel span {
	line-height:30px;
}

.contactsDivForm .cusel span:hover, .cusel .cuselOptHover {
	background: white;
	color:#269826;	
}

.contactsDivForm .cusel .cuselActive {
	background: white;
	color:#269826;	
} 

/*------------ contactsDiv --- end ---------*/

/*------------ footerDiv --- begin ---------*/

.footerShadowDivCont {
	margin-top:-88px;
	height:88px;
	width:100%;	
}

.footerShadow {
	height:17px;	
	background-image:url(../images/bodyShadow.png);
	background-position: center top;
	background-repeat:no-repeat;
}

.footerDivCont {
	background-color:white;
	height: 100%;	
}

.footerDiv {
	height:100%;
	width:957px;
	margin:0px auto;	
}

.copyRightSign {
	color:#9f9f9f;
	line-height:71px;
	font-family: open_sansregular;
	font-size:13px;
}

.bottomMenu ul {
	margin:0 10px 0 0;
	padding:0px;	
}

.bottomMenu ul li {
	display:inline;
	line-height:71px;
	font-family: open_sansregular;
	font-size:12px;
	text-decoration:underline;
	margin:0px 5px;	
}

.bottomMenu ul li a{
	color:black;
}

/*------------ footerDiv --- end ---------*/

/*------------ WnainDiv --- begin --------*/
.topGreenDiv {
	height:64px;
	background-color:#229426;
	color:white;
	font-family:open_sansregular;
	font-size:24px;
	text-align:center;
	overflow:hidden;
	line-height:64px;
}

.topGreenDiv img {
	position:relative;
	top:-15px;	
	margin-right:7px;
}

#topGreenDivW1 {
	width:630px;
	margin:0px auto;	
}

#topGreenDivW2 {
	width:795px;
	margin:0px auto;
}

.WmainDiv {		
	min-height:770px;
	margin-bottom:-42px;
}

.wmainBackground {
	background-color:#f0f6f9 !important;
	background:url(../images/WmainDiv.png) repeat-x left bottom;
}

.WmainDivTop {
	height:203px;
	text-align:center;
}

.WmainDivTopTitle {
	font-size:42px;
	font-family: open_sanslight;
	margin:0 0 20px 0;
	padding-top:40px;
	line-height:40px;
}

.WmainDivTopTitle b{
	color:#1e75b0;
	font-family:open_sansbold;
}

.WmainDivTopSubtitle {
	font-size:22px;
	font-family: open_sanslight;
}

.WmainDivTopSubtitle b{
	font-family: open_sansbold;
}

.WmainDivCenter {
	padding-top:45px;
	height:139px;
	width:950px;
	margin:0px auto;
	font-family: open_sansitalic;
	position:relative;
}

.WmainDivCenterWithButton {
	height: 134px;
	width: 450px;
	margin: 0px auto;
}

.WmainDivCenterButton {
	color:white;
	font-size:30px;
	font-family:pf_din_text_cond_promedium;
	height:82px;
	cursor:pointer;
	margin-top:50px;
}

.WmainDivCenterButtonLeft {
	height:100%;
	width:6px;
	background:url(../images/WmainDivCenterButtonLeft.png) no-repeat left top;
}

.WmainDivCenterButton:hover .WmainDivCenterButtonLeft {
	background:url(../images/WmainDivCenterButtonLeft.png) no-repeat left bottom;
}

.WmainDivCenterButtonCent {
	height:100%;
	background:url(../images/WmainDivCenterButtonCent.png) repeat-x left top;
	padding: 0px 20px;
	line-height: 82px;
	text-transform:uppercase;
	text-shadow:0px 1px 1px #0d531a;
}

.WmainDivCenterButton:hover .WmainDivCenterButtonCent {
	background:url(../images/WmainDivCenterButtonCent.png) repeat-x left bottom;
}

.WmainDivCenterButtonRight {
	height:100%;
	width:6px;
	background:url(../images/WmainDivCenterButtonRight.png) no-repeat left top;
}

.WmainDivCenterButton:hover .WmainDivCenterButtonRight {
	background:url(../images/WmainDivCenterButtonRight.png) repeat-x left bottom;
}

.WmainDivCenterTopShadow {
	width: 100%;
	height:17px;
	position:absolute;
	top:0px;
	background:url(../images/bodyShadow.png) no-repeat center top;
}

.WmainDivCenterBottomShadow {
	width: 100%;
	height:17px;
	position:absolute;
	bottom:0px;
	background:url(../images/bodyShadowReverse.png) no-repeat center top;
}

.WmainDivCenterFormText {
	padding-left: 10px;
	font-size: 13px;
	font-style: italic;
	color: #777777;
	margin-bottom: 6px;
}

.WmainDivCenter input {
	width: 200px;
	height: 46px;
	border-radius: 4px;
	border: 1px solid #c2cacc;
	margin: 0 17px 17px 0;
	color: #777777;
	font-size: 13px;
	padding: 0 10px 0 10px;
	outline: none;
	font-style: italic;
	box-shadow:none;
	color: #777777;
	font-family: open_sansitalic;
}

.inputError {
	color: #f84600 !important;
	border: 1px solid #f84600 !important;
	box-shadow: 0 0 3px #f84600 !important;
}

.WmainDivCenterSubmitButton {
	height:48px;
}

.WmainDivCenterSubmitButton {
	color:white;
	text-shadow: 0 1px 1px #146825;
	line-height:48px;
	font-size:28px;	
	font-family:pf_din_text_cond_promedium;
	height:48px;
	cursor:pointer;
	margin-top:24px;
}

.WmainDivCenterSubmitButtonLeft {
	height:100%;
	width:6px;
	background:url(../images/WmainDivCenterSubmitButtonLeft.png) no-repeat left bottom;
}

.WmainDivCenterSubmitButton:hover .WmainDivCenterSubmitButtonLeft {
	background:url(../images/WmainDivCenterSubmitButtonLeft.png) no-repeat left top;
}

.WmainDivCenterSubmitButtonCent {
	height:100%;
	background:url(../images/WmainDivCenterSubmitButtonCent.png) repeat-x left bottom;
	padding:0 50px;
}

.WmainDivCenterSubmitButton:hover .WmainDivCenterSubmitButtonCent {
	background:url(../images/WmainDivCenterSubmitButtonCent.png) repeat-x left top;
}

.WmainDivCenterSubmitButtonRight {
	height:100%;
	width:6px;
	background:url(../images/WmainDivCenterSubmitButtonRight.png) no-repeat left bottom;
}

.WmainDivCenterSubmitButton:hover .WmainDivCenterSubmitButtonRight {
	background:url(../images/WmainDivCenterSubmitButtonRight.png) no-repeat left top;
}

.WmainDivBottom {
	padding-top:40px;
}

.WmainDivBottomUnit {
	width:790px;
	margin:25px auto;	
}

.WmainDivBottomUnitText {
	width:701px;
	font-size:23px;
	font-family:open_sansregular;
	margin-left:20px;
}

.WmainDivBottomUnitText span {
	font-family:open_sansbold;
	color:#f83f17;
}

/*----------- WmainDiv --- end ----------*/

/* --------------- loginDiv --- begin ---------*/

.loginDivCont {
	width:453px;
	margin:100px auto;	
}

.smallShadowTop {
	height:23px;
	width:100%;
	background:url(../images/smallShadowTop.png) no-repeat left top;
}

.smallShadowBottom {
	height:20px;
	width:100%;
	background:url(../images/smallShadowBottom.png) no-repeat left top;
}

.loginForm {
	width:300px;
	margin:0px auto;
}

.loginFormTitle {
	font-family:pf_din_text_cond_promedium;
	font-size:30px;
	margin:45px 0 20px 0;
	text-align:center;
}

.loginForm a {
	font-size:16px;
	font-family:open_sansitalic;
	color:#79aac1;
	display:block;
}

.loginFormUnit {
	position:relative;	
	height: 86px;
}

.loginFormUnit input {
	width:280px;
	height:43px;
	border-radius:4px;
	border:1px solid #c2cacc;
	margin:0 17px 17px 0;
	color:#777777;
	font-size:13px;
	padding:0 10px 0 10px;
	outline:none;
	font-style:italic;
	font-family:open_sansitalic;
}

.logRecSubmButton {
	margin-top:20px;
	width:314px;
	height:80px;
	cursor:pointer;
	margin-bottom:50px;
	margin-left:-3px;
}

.logRecSubmButtonLeft {
	width:12px;
	height:100%;
	background:url(../images/logRecSubmButtonLeft.png) no-repeat left top;
}

.logRecSubmButton:hover .logRecSubmButtonLeft {
	background:url(../images/logRecSubmButtonLeft.png) no-repeat left -86px;
}

.logRecSubmButtonCent {
	height:100%;
	color:white;
	text-shadow:0 1px 1px #0c521a;
	font-size:30px;
	font-family:pf_din_text_cond_promedium;
	line-height:82px;
	width:286px;
	text-align:center;
	background:url(../images/logRecSubmButtonCent.png) repeat-x left top;	
}

.logRecSubmButton:hover .logRecSubmButtonCent {
	background:url(../images/logRecSubmButtonCent.png) repeat-x left -86px;
}

.logRecSubmButtonRight {
	height:100%;
	width:12px;
	background:url(../images/logRecSubmButtonRight.png) no-repeat right top;
}

.logRecSubmButton:hover .logRecSubmButtonRight {
	background:url(../images/logRecSubmButtonRight.png) no-repeat right -86px;
}

/* --------------- loginDiv --- end ---------*/

/* --------------- recoverDiv --- begin ---------*/

.recoverDiv {
	width:410px;
	margin:100px auto;	
}

.recoverFormSubTitle {
	font-size:16px;
	text-align:center;
	font-family:open_sansitalic;
	color:#626465;
	margin-bottom:25px;
}

.recoverForm {
	width:300px;
	margin:0px auto;
}

.loginFormUnitDone {
	position:absolute;
	top:0px;
	color:#31b436;
	text-align:center;
	left:-31px;
	width:360px;
	display:none;
}

.loginFormUnitDoneTop {
	font-size:30px;
	font-family:pf_din_text_cond_promedium;
	padding-left:30px;
	width:57px;
	background:url(../images/loginFormUnitDoneTop.png) no-repeat left center;
	margin: 0px auto;
}

.loginFormUnitDoneBottom {
	font-size:16px;
	font-family: open_sansitalic;
}
/* --------------- recoverDiv --- end ---------*/

/* --------------- friendsDiv --- begin ---------*/

.friendsDiv {
	width:960px;
	margin:0px auto;
}

.friendsDivTitle {
	font-size:30px;
	font-family:pf_din_text_cond_promedium;	
	margin:35px 0 45px 0;
}

.friendsDivUnits {
	margin-bottom:50px;
}

.friendsDivUnit {
	width:298px;
	height:186px;
	border:1px solid #ced6d8;
	border-radius:4px;
	margin:0 20px 20px 0;
}

.friendsDivUnitTop {
	height:130px;
	width:100%;
	overflow:hidden;
}

.friendsDivUnitBottom {
	height:53px;
	border-top:1px solid #ced6d8;
	width:100%;
	background-color:white;
	line-height:53px;
	
}

.friendsDivUnitBottom .left {
	font-size:16px;
	text-transform:uppercase;
	font-family:pf_din_text_cond_promedium;
	margin-left:20px;
}

.friendsDivUnitBottom .right {
	font-size:13px;
	font-family:pf_din_text_cond_promedium;
	margin-right:20px;
	color:#3e84a6;
}

/* --------------- friendsDiv --- end ---------*/



/* - special-promo page styles --- begin - */
/*body{ background: transparent url(../sketch.jpg) no-repeat center 0;}
.topPartDiv{background-color: transparent;}*/
/*^^sketch^^*/

@font-face {
    font-family: 'KaushanScriptRegular';
    src: url('../types/KaushanScript-Regular.eot');
    src: url('../types/KaushanScript-Regular.eot?#iefix') format('embedded-opentype'),
         url('../types/KaushanScript-Regular.woff') format('woff'),
         url('../types/KaushanScript-Regular.ttf') format('truetype'),
         url('../types/KaushanScript-Regular.svg#KaushanScriptRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Museo_Slab500';
    src: url('../types/Museo_Slab_500_2.eot');
    src: url('../types/Museo_Slab_500_2.eot?#iefix') format('embedded-opentype'),
         url('../types/Museo_Slab_500_2.woff') format('woff'),
         url('../types/Museo_Slab_500_2.ttf') format('truetype'),
         url('../types/Museo_Slab_500_2.svg#Museo_Slab500') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Museo_700R';
    src: url('../types/Museo_700_Regular.eot');
    src: url('../types/Museo_700_Regular.eot?#iefix') format('embedded-opentype'),
         url('../types/Museo_700_Regular.woff') format('woff'),
         url('../types/Museo_700_Regular.ttf') format('truetype'),
         url('../types/Museo_700_Regular.svg#Museo_700R') format('svg');
    font-weight: normal;
    font-style: normal;

}
.descripYou{
 color: #333333;
 color: rgba(51,51,51,1);
 font: normal normal 44px/44px 'pf_din_text_cond_promedium', 'Myriad Pro', arial;
 margin:0;
 padding: 20px 0 32px;
 text-align: center;
}
.descripYou span{
 color:#f4210c;
 color: rgba(244,33,12,1);
}
.glavTopBlock{
 margin: 0 auto;
 padding-bottom: 50px
         
}
.glavTopBlock,.glavTopBlock>div{width: 688px;}
.glavTopBlock .begin{
 background: url(../images/glav-top-block-bg.png) no-repeat center 0;
 height: 17px;
}
.glavTopBlock .center{
 background: url(../images/glav-top-block-ce.png) repeat-y center 0;
 height: 705px;
}
.glavTopBlock .end{
 background: url(../images/glav-top-block-bg.png) no-repeat center 100%;
 height: 19px;
}
.glavTopBlock .center>h2{
 font: normal normal 30px/30px 'pf_din_text_cond_promedium', 'Myriad Pro', arial;
 padding: 19px 0 24px;
 margin:0;
 text-align: center;
}
.glavTopBlock .center .pText{
 font: normal normal 20px/26px 'pf_din_text_cond_promedium', 'Myriad Pro', arial;
 margin: 20px 20px 0 32px;
}
.blueSkyBlock{
 position:relative;
 height:94px;
 width:700px;
 margin: 18px 0 0;
}
.blueSkyBlock>div{
 width:700px;
 height:94px;
 position: absolute;
 top:0;
 left:-6px;
 background: #7dd6ee; /* Old browsers */
 background: -moz-linear-gradient(top,  #7dd6ee 0%, #2a87cc 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7dd6ee), color-stop(100%,#2a87cc)); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  #7dd6ee 0%,#2a87cc 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  #7dd6ee 0%,#2a87cc 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  #7dd6ee 0%,#2a87cc 100%); /* IE10+ */
 background: linear-gradient(to bottom,  #7dd6ee 0%,#2a87cc 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7dd6ee', endColorstr='#2a87cc',GradientType=0 ); /* IE6-9 */
}
.blueSkyBlock>div>p{
 color: #ffffff;
 color: rgba(255,255,255,1);
 font: normal normal 26px/32px 'KaushanScriptRegular', 'Myriad Pro', arial;
 margin: 10px auto 0;
 text-align: center;
}
.uglLeft,.uglRight{
 background-image: url(../images/blueSkyBlok.png);
 background-repeat: no-repeat;
 bottom:-16px;
 display: block;
 position:absolute;
 height:16px;
 width:15px;
 z-index:10;
}
.uglLeft{background-position: 0 0;left:0;}
.uglRight{background-position: 100% 0;right:0;}
.spiskiPromo{
 border:none;
 border-top: 1px solid #bfcad3;
 border-bottom: 1px solid #bfcad3;
 margin: 0 28px;
}
.clonenBlock{ padding: 25px 0 0 0px; }
.clonenBlock .freePremiumBottomDiv {
 border-top: 1px solid #ccc;
 margin-right:34px;
}
.clonenBlock .freePremiumBottomDivLeft{ padding-left:10px; }
.spiskiPromo .bLef ul{
 width: 320px;
 margin: 0;
 padding: 25px 0 0 0;
}
.spiskiPromo .bLef ul li{
 background: url(../images/.freePremiumGalka.png) no-repeat 0 center;
 color: #333333;
 color:rgba(51,51,51,1);
 font: normal normal 16px/30px 'open_sansbold', 'Myriad Pro', arial;
 list-style: none;
 padding: 0 0 0 30px;
 margin-left: 20px; 
}
#promoFora {
 height:310px;
 width: 310px;
 float:left;
}
#promoFora .freePremiumPremiumButton{
 display: block;
 text-decoration: none;
}
#promoFora .freePremiumDivButtonCont{
 margin: 30px 0 0 30px;
 height: auto;
}
#promoFora .freePremiumDivButtonRadio{
 margin:0;
 height:58px;
 position:relative;
}
#promoFora .freePremiumPremiumButton{ margin: 10px 0 20px 0; }
#promoFora .freePremiumDivButtonRadioTop{ font: normal normal 24px/24px 'Museo_Slab500', 'Myriad Pro', arial; }
#promoFora .freePremiumDivButtonRadioTop span{font-family: 'Museo_700R';}
#promoFora .freePremiumDivButtonRadioRight{ width:250px; }
#promoFora .freePremiumDivButtonRadioBottom{
 font: normal normal 18px/20px 'Museo_Slab500', 'Myriad Pro', arial;
}
.pipetka{
 color:#333333;
 color: rgba(51,51,51,1);
 display: block;
 font: normal normal 24px/32px 'KaushanScriptRegular', 'Myriad Pro', arial;
 position: absolute;
 top: -24px;
 right:-280px;
 text-align: center;
 background: #f2f7fa; /* Old browsers */
 background: -moz-linear-gradient(top,  #f2f7fa 1%, #d8e8f0 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f2f7fa), color-stop(100%,#d8e8f0)); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  #f2f7fa 1%,#d8e8f0 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  #f2f7fa 1%,#d8e8f0 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  #f2f7fa 1%,#d8e8f0 100%); /* IE10+ */
 background: linear-gradient(to bottom,  #f2f7fa 1%,#d8e8f0 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f7fa', endColorstr='#d8e8f0',GradientType=0 ); /* IE6-9 */
 -webkit-box-shadow: 0px 1px 10px #aaa;
 -moz-box-shadow: 0px 1px 10px #aaa;
 box-shadow: 0px 1px 10px #aaa;
 -webkit-border-radius: 6px;
 -moz-border-radius: 6px;
 border-radius: 6px;
 -webkit-transition: all 0.5s ease-out .1s;
 -moz-transition: all 0.5s ease-out .1s;
 -o-transition: all 0.5s ease-out .1s;
 transition: all 0.5s ease-out .1s; 
}
/*.pipetka.demo{
 right: -280px;
 top:-24px;
 opacity:1;
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
 filter: alpha(opacity:100);
}*/
.pipetka>p{
 margin: 10px 0;
 width:270px;
}
.pipetka ins{
 color:#54afdd;
 color: rgba(84,175,221,1);
}
.pipetka .leftBlue{
 background: #aaa;
 height:100%;
 width:5px;
 position: absolute;
 top:0;
 left:0;
 -webkit-border-radius: 6px 0 0 6px;
 -moz-border-radius: 6px 0 0 6px;
 border-radius: 6px 0 0 6px;
 background: #7dd6ee; /* Old browsers */
 background: -moz-linear-gradient(top,  #7dd6ee 0%, #2a87cc 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7dd6ee), color-stop(100%,#2a87cc)); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  #7dd6ee 0%,#2a87cc 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  #7dd6ee 0%,#2a87cc 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  #7dd6ee 0%,#2a87cc 100%); /* IE10+ */
 background: linear-gradient(to bottom,  #7dd6ee 0%,#2a87cc 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7dd6ee', endColorstr='#2a87cc',GradientType=0 ); /* IE6-9 */
}
.pipetka .leftBlue span{
 background: url(../images/pipetka.png) no-repeat 0 50%;
 height:16px;
 width:7px;
 position: absolute;
 top:45%;
 left:-7px;
}
.pricingDivMini{
background: url(../images/pricingBackground.png) repeat-x left bottom;
padding-top: 10px;
}
.mainPartDiv{ background: url(../images/pricingBackground.png) repeat-x left top; }
.shadowMini{ background: url(../images/shadowMini.png) no-repeat center top; }
img{outline:none;border:none;}

.jscarousel {
	background-color: transparent;
    width: 957px;
    margin: 0px auto;
    position: relative;
    font-family: open_sansitalic;
    margin-bottom: 50px;
}

/*________________*/

.wrap-contact {
	overflow: hidden;
	font-family: open_sansregular;
	font-size: 14px;
}

.wrap-contact a{
	text-decoration: none;
	color: black;
}

.wrap-contact a:hover{
	color: #2a87cc;
}

.wrap-contact ul {
	padding-left: 0px;
}

html {
  scroll-behavior: smooth;
}


.contactblock-left {
	float: left;
	width: 30%;
}

.contactblock-right {
	float: right;
	width: 70%;
}

.pb {
	padding-bottom: 20px;
}

li span {
	font-weight: 600;
}

li img {
	padding-right: 10px;
	padding-top: 5px;
}

.contactbtn {
	padding-bottom: 50px;
}

.unblockBlockedDivTopButtonButCenter a {
	text-decoration: none;
}

.rules {
	font-family: open_sansregular;
	font-size: 14px;
}

.rules h2 {
	font-size: 32px;
	padding-top: 10px;
    padding-bottom: 20px;
}

.rules h3 {
	font-size: 22px;
}

.rules h4 {
	font-size: 18px;
}

.rules a {
	text-decoration: none;
}